# MAC OS
.DS_Store
*/.DS_Store
*/*/.DS_Store

# ipynb_checkpoints
tf.version.*/*/.ipynb_checkpoints

# graph or train folder
tf.version.*/*/graphs
tf.version.*/*/train

# checkpoints folder
checkpoints

# data folder
data
datasets

