# MAC OS
.DS_Store
*/.DS_Store
*/*/.DS_Store

# ipynb_checkpoints
tf.version.*/*/.ipynb_checkpoints

# __pycache__
tf.version.*/*/__pycache__

# graph or train folder
tf.version.*/*/graphs
tf.version.*/*/train

# result files (jpg, png, gif)
tf.version.*/*/*.jpg
tf.version.*/*/*.png
tf.version.*/*/*.gif

# checkpoints folder
checkpoints

# data folder
data
datasets

